body{
    background-image: url(imagens/gramado.png);
}

.constructor{
    width: 650px;
    height: 700px;
    background-color: #1A2125;
    margin: auto;
}
.ac{
    font-size: 25px;
    padding: 25px;
    text-decoration: underline #ff0000;
}
.pre-texto{
    color: rgb(91, 253, 59);
}
.pre-texto2{
    color: rgb(253, 59, 59);
}
.pre-texto3{
    color: rgb(255, 255, 255);
    font-style: italic;
}
.pre-texto4{
    color: rgb(255, 242, 67);
    font-style: italic;
}
.pre-texto5{
    color: rgb(86, 67, 255);
    font-style: italic;
}
.pre-texto6{
    color: rgb(255, 120, 67);
    font-style: italic;
}
.texto{
    width: 600px;
    height: 35px;
    margin: auto;
    color: #fff;
    padding: 25px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

img{
    width: 80%;
}

.vips{
    width: 50%;
}

nav{
    height: 125px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #000;
}

.copy{
    margin: 50px auto;
    height: 15px;
    color: #fff;
    border: 1px 1px 1px 1px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.navegador1{
    margin: 10px;
    background-color: #244967;
    padding: 5px;
    border-radius: 10px;
}

.navegador{
    margin: 10px;
}

.logo{
    float: left;
    width: 125px;
    height: 125px;
    border-radius: 0 0 5px 5px;
    background-color: #000;
}

a{
    color: #fff;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 10px #000;
}

a:hover{
    color: lightyellow;
}

header{
    padding: 50px;
    margin: auto;
    text-align: center;
}

h1{
    color: #fff;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 50px;
    box-shadow: 10px #000;
    padding: 25px;
}

.slider{
    margin: 0 auto;
    width: 1000px;
    height: 540px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 540px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1.5s;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -150px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #000;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid rgb(143, 235, 143);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 390px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~.navigation-auto .auto-btn1{
    background-color: #000;
}
#radio2:checked ~.navigation-auto .auto-btn2{
    background-color: #000;
}
#radio3:checked ~.navigation-auto .auto-btn3{
    background-color: #000;
}
#radio4:checked ~.navigation-auto .auto-btn4{
    background-color: #000;
}

@media screen and (max-width: 1200px) {
    .constructor{
    width: 325px;
    height: 700px;
    background-color: #1A2125;
    margin: auto;
    }
    .texto{
    width: 280px;
    height: 35px;
    margin: auto;
    color: #fff;
    padding: 25px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    }
    .slider{
    margin: 0 auto;
    width: 380px;
    height: 540px;
    overflow: hidden;
    }
    
    .slides{
    width: 400%;
    height: 540px;
    display: flex;
    }
    
    .slides input{
    display: none;
    }
    
    .slide{
    width: 25%;
    position: relative;
    transition: 1.5s;
    }
    
    .manual-navigation{
    position: absolute;
    width: 400px;
    margin-top: -340px;
    display: flex;
    justify-content: center;
    }
    
    .manual-btn{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    }
    
    .manual-btn:not(:last-child){
    margin-right: 40px;
    }
    
    .manual-btn:hover{
    background-color: #000;
    }
    
    #radio1:checked ~ .first{
    margin-left: 0;
    }
    #radio2:checked ~ .first{
    margin-left: -25%;
    }
    #radio3:checked ~ .first{
    margin-left: -50%;
    }
    #radio4:checked ~ .first{
    margin-left: -75%;
    }
    .navigation-auto div{
    border: 2px solid rgb(143, 235, 143);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    }
    .navigation-auto{
    position: absolute;
    width: 400px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    }
    .navigation-auto div:not(:last-child){
    margin-right: 40px;
    }
    #radio1:checked ~.navigation-auto .auto-btn1{
    background-color: #000;
    }
    #radio2:checked ~.navigation-auto .auto-btn2{
    background-color: #000;
    }
    #radio3:checked ~.navigation-auto .auto-btn3{
    background-color: #000;
    }
    #radio4:checked ~.navigation-auto .auto-btn4{
    background-color: #000;
    }
    .navegador{
    font-size: 15px;
    }
    .navegador1{
    font-size: 25px;
    }
    .vips{
    width: 100%;
    }
    header{
    text-align: center;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: antiquewhite;
    }
    .navegador1{
    margin: -10px;
    background-color: #244967;
    padding: 5px;
    border-radius: 10px;
    }
    .navegador{
    margin: 10px;
    }
    .copy{
    margin: 200px auto;
    height: 10px;
    color: #fff;
    border: 1px 1px 1px 1px;
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
    }
    h1{
        text-align: center;
    }
}